@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffda01;
  text-align: center;
}

img{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

main{
  display: block;
}

.cabeca {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #151515;
  justify-content: center;
}

p {
  margin-left: 30%;
  margin-right: 30%;
}

ul{
  text-align: center;
}

a {
  text-decoration: none;
  list-style: none;
}

.eu {
  width: 200px;
  border-radius: 200px;
  border: 2px solid rgb(255, 230, 4);
}
